Source: screenshotmee
Section: user/other
Priority: optional
Maintainer: Stanislav Ionascu <stanislav.ionascu@gmail.com>
Build-Depends: debhelper (>= 5), libqt4-dev
Standards-Version: 3.7.3
Homepage: ionascu.me

Package: screenshotmee
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Application to make screenshots
 Application for creating device screenshots by simply covering the screen at the desired moment.
XSBC-Maemo-Display-Name: ScreenshotMee
XB-Maemo-Icon-26: 
 iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAAAXNSR0IArs4c6QAAAAZiS0dEAAAA
 AAAA+UO7fwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9sHEggFDmjBjbIAABpFSURBVHja
 7ZtpjFzXld9/9231aq/e2M0mm02KpERJtCiJsizLsizTWzDZPDASJ4gXDBAbMYIgkyAfkvngD/kw
 CZIAk0kwcBBgZgJYjjyANbFnPJJlOfJoo21ZlNUiRVLcySbZze6u9dWrt90lH7qrVGw1l5Y8k3zI
 BR6qu5b33vnfc8/5n3P/T/BrGFprRwjhAzmgbIx50BhzwBgza4y5A7CAj23ytK8CWghxTghxUQgx
 J4R4AwiAxBgTW5YlP+i9iw/yY2PMvcA9wGNZln1ESvmgUspVSiGlREpJlmUAJElijDG3dT0hhMnl
 cgLAdV0cxxkclmVljuO84bruL4BXgONCiLf/2gAwxlha629YlvX5NE33hmE4G4bhwGClFFrrjYza
 7HXe855t21iWNQCjWCxSLBYvep53Wmv9fcuyviWE0H9lAKRp+k+Bfy+lzC8vL9tRFPVv1HxQb3o/
 DriKqyCfzzMxMaEcx4mAf+153h/8WgFIkuRBY8y30jR9uNFo0Ol0sCyL/5eG1ppKpcLo6Ci5XO41
 4Bu5XO6NDwxAkiT/JkmSb7ZaLb/T6WCMMWKdP2/Wvf/KXGLt3qrVKtVqNfY879/mcrl/974BSJLk
 22EYfmlxcZE4jq9zcyHE4FgPxP9tQIwxxvM8MTk5SaFQeDKXy315UwB0u13Psqz/GgTB1y9fvoxS
 in5kN8YMDLdte/B3f0kMA7MREL9OcLTWKKWIoohSqbThspyenqZUKv13rfU/K5VK6frPnRsg+I1u
 t/v1hYUFjDEmyzKRJAlJkgwivBACx3EGkXn4tQ/IejCEEAMA3y8YSimyLCOKI7pBlyAIiOOY++67
 b6PzmcXFRTE1NfX1fD5/HPj9W3pAEASPSylfvHLlClEUGSmliKKIIAgIw5AkSfB9n2q1itYarfXA
 qGEQ1nL24L3hYz1At2N0HMf0ej2CIKAbBqRZQhpL0jTFGMNjjz2G67o3XA7T09M4jvOJcrn80k09
 QGv93Xq9ThzHRmstsiwjiiK63S6tVotut8v09DS1Wo1Wq4UQAt/3SdMUpdTgtW/YMCD91/5h2/bA
 YzZy74HB3S6dTocwDFFKgTBgoE8VLMsaTMZGyzyOY1Ov18XExMR3gekbAtBsNn8viqKtzWbTWJYl
 +oREKUWSJIMbqVarXLlyhR/84AdcvXqVqakpJie3MDk5xcjICJVKhXw+P3D5PknqkxnXdcnlcuRy
 uYEBxhi01sRxTBAEdDodut3uu0avYwDC9XDzBbSUkMa3Ypai2WyaUqm0tdls/t7IyMi/eA8A9Xp9
 mxDiK8vLywPj+wBorZFSkiQJURQRhiFpmnL06FFOnz6NEALXdSmVSlQqFcbGxqhWq9RqNUZHRxkf
 H2d8fJxarUapVML3c3heDtd1sSyLbrdLs9mk0+kQxzFxHJNl2XVssE+JkzjGOA7Vnbsp1EZI2i3a
 F8/dchlZliWWl5fNzMzMV+r1+n8aGxu7ch0AlmV9tdPpVOM4FkKIgUv1M0A/Cwy7eK/Xo9eLBkSw
 1WpjWVdXZ15rbMfB933y+TylUolqtcr4+DjbZ6bZfcce7rprHzt37iSOY+bn50niBMOa0cJC2C5G
 phQKBXbs2IEQggsXLpDZHrlihbLrYDkeDb0aJ2zbvikIcRyLTqdTLZfLXwV+dwDA0tJS1RjzRKvV
 sm8UlPqeYIxZ+1uRZZJS2WX6jhxpknHtkiSNDcZoNKCzjCzLCIKApaWlgbu7vk25UkRIj527Zvna
 174GlsbJGWQKuHkm9t5LlAmCs29SLBao1UbQWuM4NokCEad0M0XY6YK+PfovhKDVatmlUumJpaWl
 P9iyZUvbWVuXe8IwvK8/u8M5dvgYjvpKabJYs+ug4u988V4WOyd47c/h9BuC4ux+RnbuoXnhNMH5
 Ywhj8H1/kL6SXkYWt9AatFEE3Q5bZwvkRxMunzKkuszsWI3LTUlbOIPrRlGPNM2QWUq70SaRCt1t
 YGQ6uMfbqGcIw/C+QqGwBzjirKWZA1EUTWqt35Ojb8T4tDKAwd1icIpbqBSWqe68hDheZeq+z/D5
 v/1xfv76HK8+ucCOms+jH3+cdrvNy3/5Ij0E5Tv20mus4GcJft6lWMth+QbhdiGyyWKJ7CUgJb1e
 j8uX54miiCRJQBvi5lUc20ElXYTgtlPqKpDRZC6XOwAccRYXF3NSyk+u5dP38Py++/ePdz/WGA3t
 lsXbC6fZWt1BL1rAWC4mLVJOMvKmAk6FiYkKBx88SBRFnDp5kmW3wv1/78tkjWWu/uQZLNsmTBKK
 boks6UIa0F5ZJG02QCdEkYUxDcya94HB0hmW0BijEcLaFE1O01RIKT+5uLj4HUdrncuy7PE0TdFa
 D+zvu93wMRyVldYIW7N8zOYt/wL1cVg556B7IVbjPEljhmxlGR1H9CKXMOqhpUIZg2X71HAojk7Q
 qoxiYdNajmgsRiRtgyU6XFu4eN2saq3JMjnI9UmSkKybWX0bscAYI9I0Jcuyx13XzTlaa09KuWMN
 gPfw7I1iQP9zLINs2ERvVzkllmkvScgUjdPP8cpzF1lYbiPiFa5cDfnJ88/j2jbNRp3Edzg7dw4d
 BciwB8YiaYIxAq0NWNCLemAY8Icsy7AAvbYEK5UK5XKZXq9Hu91GSnnLLDAcB6SUO2zb9hyt9e41
 A69z/2H016///v/9bBA1ktWLKwvL1sgs5vz5syilcGxDHCeceucdsiyj0+4gwoT511+gF/WYqa4y
 RSU1MssQYvW8UgOWgxAK34LpsoftOFxoxXj5Avv378fzPIIg4Pjx47cdA9ZinlFKCa31bkcp9ViW
 ZSilxHA1tZH7Dy8BrTVGa7SAIJMQRQg0YNHtdojDLsKxMUajlCBKEpRUIARCZ3jRAmkYYlWmsW0b
 4/lQGsW06xjLxt+2F20gnT/BlokR9uyYwvGLtE6cxQCFQgElMwrF4q2o8EaBUGRZhuu6jznGmKl+
 +hg2cDjw3QgArTX5Hfcwef+jJL2AxhsvkzUXMeM7UYUqqnUN07qGb2fYUYdMabQ2KAOLi4tIKdk5
 O4vleNSmxqhNTnL+rTkUgq2jNYIEVpwcfqGI7TgY2wEEWiukVFjGEIXhgDVu1Ee8WYFljJlylFIP
 9CuqjQzsGz/8CqCVRBuo7TrIF7/wm3TjmD9t1FlIMiYf+Tw79uzm4tE3WHn5e3x07yRP3DHKueUO
 T//qAttmd/Lwhx/mxInjpGkKlk3ByzFmC84oAUKjkpQkVGgpCcMuQVKh22nSaDYQlsWVq1ewgOWV
 FZIkue7ebjcOKKUecIQQznCN35/9jWr54ThgjMEg0JHDVBoRSYmtHIw/yvaJKR4YL9KpbaVVrPHw
 xx7jMwdmudiRHGl/n0cefZS/8dnPsnfPHl56+SXQmuZKh3ZboeIQUCxcuUaWJQgZsdw0ZNhEUbQK
 GHDh/Hlc1yUMw8HE3W4M6IMlhHCcLMse7WeAYQD6X9ooDRpj0MYgUNTPneQP/2QaqQ31ywsQNlg4
 e4EzxtBaWEKlMWEvpqtdmlqQZRI/X8BzbKrVEr7vg5Z0W3W0sREqXL1WuADZ6szGSUK9Xr/OS6Mo
 Yi12MVy73C4Aa6nwUQdw+z8cNnD4YsMxYHiZCAR29wQX3kpWvSG8gBUHrBx7iSNXttFrXkYGK7z8
 yzfRls3Zy4ucO3+Ot96aY/vUJCdOvE0QBFiWANXDxiBZvYZMI5TSg/WqjV4XpwQyU4O2zmZjwJrN
 rjM82+sDYJ8LrPeG1ROs1m2ulZKXF7Esi54tSY3CDs9jqRVM0ERoyelL8zTCmG63QxTH/OyVV7ly
 6TLXlhbZv3//qpFr/UYpJQIB2sbGJiPBxqGsSxhhaJs2FhajYhyfPF0TENDalAcM9yCc4Z2c9Wto
 o9zab2W920AN6fV6a99d/ayXBsSyg5YCgUMYdQmvhQgNFoIwDjl76QxpnOK6LrZtMzE+TrVW48LF
 C+jIYlthD1oa5tPjjFmj3Dm6F2MMRxtHUQZ2enfh5z3q7Qax6G2KBwxPrrMuKNwwBgy7mBBiwA7H
 x8fZv38/3aDLsbePEScpo/FO8qJCy5onoElJlRlJa7RMi47VwRM5clGOTGeDra6R0VFq1Srtdpsg
 kkzunCJuSa5eyeGTw3EcSMA3PqGRqILGvdOg5wQm3nwM6Nvq3OqH67lB/7tKKXzf59ChQ3zq0KeI
 4oj/8Z0/5OzPr/GpHV9iZtsMh0/+hNdbP+Szpc/w0dlHeKNxhD9d+AEH7Y9zsPgRXmn/FMtd9Zok
 jpnvBKszIzSpExOaDIVG2opEJ+jUkJoMiSKIY9ILGUEcoYXa1PoftsWJouimJGh98Oujp7XG8zzK
 lQq//OVr5HI+Xs4jzzQzD86y7+PbOP7HU5QaNe709zI7s50gaTOqxrijdICHPvMRFn/cJBLzZDKj
 t9bbX6mvECvF+XeukGUZ0kR0pMVSYwmpJIEJMAjq0QJ25BGZNpJ0U0FwOJM4cRwPR8XrAJBSvqco
 Wh8g6ysr1KpVhEgJg5BAJZy7dhlOGS63F8hMTLvQYqG1yGJjkZiUa7rN8cYFrmQrTNgCKSX1ep3l
 5eXVeh/oyItoo9Fa0TEBMQnaaDK9ut3e8a4hAKnkde27zQTBOI5xhlPg7QSRYZLU7XY5evQo999/
 P+12h0vnr9CzI37x1vP8aq7GcnKcwGrx6vLPuFZf4p3oHZrWMid6v6T+YoPz6nUmvPsx2pBmKY7t
 DAVgGOrNYvql4FBr2LItUGx6DKd3Z3hdb8QDhmnw+jxqjGF+fp52p02WSrpBF2UyQu84ie2S6Q5a
 So6r41zyLtG1uqhMsVI8SZi7SL21gmc/vMYqJanMBu29OItY632s3kMs0ZhB0zRJszUCoBFi43u8
 FQ8QQrzrATfiAcM1wPAukDGrmxNpktHtRGitMHr1BuJehG1nKKkQCBKZoqI2Uq5OV5r0yGSM0eA4
 LsKC8pggN2Kxcl6iNOSnLZCCcF5RExV2+NtIZcK59BKpZXAKU/h5nzhsInvNTfMA27bRWmOtNRzM
 RhubN9rDG2xkGAOuxB0NscsRRmiEAFmJyEY7KDfFYNimJnkgu5stjKyCnduKPXIA4ZZwHQuEwXUF
 RdvHzgn8Qo6dW3ezfXoGyxWMuhVmZreyc2yamlVC2D5uaYrZ2Z2Ua9MI293w3m909OdZSomztLR0
 btu2bXds5AHru0HDy0JJjeUaZu+x2fPhIvVmwokfJWQW7PrcOMWqz4XDdZIj8OUdf5cDu+7lmbkf
 8d3WX1La9Wkee+wRDj/3XWzLQUlFL5bYOYFKNcbS2FkOtIVWGmNLsnwCicLWAo0hJxIcHa5Wpdrc
 dld4eKNkYWHhnFMul+e11nfcLhPsb2xqY7B9Q2VMM5Uro2oWIheRr3h8+sBvMD46wZ+c+V90abF7
 7xRTj4+xfX4Eu5VnciRP1YnR2sL1PIyGuAtp0kHGABmnz72DwMJo6JqQYL6JSRUhERiF0DHnLiX0
 whDQ74sJlsvleafRaFyrVqu3LyrqX0RrtIRmILnUTOj1bHQiMF3NxTOXaZQ7tBY6ZEQsLFyg/AvD
 ueZ5UtOju3yO555fIVg5Ty5332qwyxwckSNR4SrPCAVZmoGGhtXjeOMCxhgCEyMQtOsLKByEyUBv
 PhXYtk2j0bjmZFl26nb1PtdlBjQyNjTnBSqr02saksAgOxk/feYVpMlIljQIwVNn/zel8z5nogWM
 lbB44TUcJ4+jOni53CrnyDRKRu/SbWPhWA4Khe3a6NzaNnt3tR/g2AoXhTGa9H2kQsuyyLLslDM/
 P39y3759wxKbW0rW+llAZQa55JPLSsSdCJmEgCCf1EBr0qyB5Vq0RyRJXiNaOdwwo1bO4XoWvZ6H
 5/mAwPaLgI2KWpi1NKfX1nSSJKRJglgLvqtMVK3pDcSmhBbDqrb5+fmTjpTy9U6ng+M4Yn0aWU+B
 13eNwIACk7xLSIQFYRCg9WrHWGvN0tIKxgItV5nkSn1loDDx/RzCdhmZmKFSG+fCO29imZTa+AxJ
 HNJpXMXK+XgjY2S9ENlpYbQmy7IBJb+RrvAm7i+CIEBK+bo1MzOz3Ov15O301IfZotYaAURpSj3M
 CLNVmqI1CKeIWxjFsl2MMZTuvo/JQ38Lb3I7tmXxwAMPcOjQIUZGRnBdF2Og4OWYmchjuwXcXJF8
 aYSJyRkc18cbnWDrPQeY2v8gTrGMY9tMTk6yfft2isXipqU2lmURhqGcmZlZdhYWFhLf94+Mjo5+
 5EaCx40KDa0VxnLYcueHmbnnozSXLnPhte8zUhvjzoO/QaVc5c1XvkfDSA7+1m9z9/79/Oi//WcW
 f/J9Dn3yk2yfmWF+fh7HcTBa0QkCrlwtoLIMxzPYlgBhYTkOlpdnS87FFDzqpRoyiZianKJQLGBZ
 FvPz85tiwkII0e12jywsLCTWiy++mIRh+NIaNRQ3k6oOxwAlJcYd4a4PPc4//JuP89D9D+Pmx6hM
 7KBc3crW6e1UyiOI0a3srI2y13Ox/Cp6TVcwf3meMAxXVSJGErQXuXDhDCptk8YhYbdF0G4g0wQZ
 x3QSQ71nkHotEGNwXRfP8zblAUIIobUmDMOXXnzxxcR59dVX5ec+97lXwjD8V/l8Xqw3fH2Z3M8Y
 xmiMtvGNTUElZJ0QmUpklmLbhkarRTfsoJRk7vhpjs43mZ97nTTs8vxPnifLJEEQ4Pv+qkEqwhYS
 dAYGeu3F1WwjU9LGNc6eOomxXWSnAUqxdG2JNE1ptVqbqgOEEIRhaDqdziuvvvqqdADm5uZO7N69
 +2Q+n7/7VhXUoCVuQCcBb785R32pzeX546i4Tn0h4sxbL6C1pFm/gs4Szj77P9EI4lNvYgtBo9Ec
 zJzneat9fa2IYzVotiRxb1VpZttYRuF3l4nTFBOv8oTllWVa7dZAu7iZkSTJybm5uRMDhcjTTz99
 9oknnni9VqvdfauT9RmXNoBusTz/U3rNCeJoBWESXCtHr3kOx7KwhMYyGvvaOWQcg0zRlkWz2UZY
 FpVyEc/zkFnC1BjYNlxeYnXLTaVEazs+Wmt63WAgC7Ms6z0Cq820whqNxutPP/302WGNkD58+PAP
 d+zY8QXbtvNaa3GjZfDuElj1AtdOcUQDrUIMhjDsEfZiMAYp07XGaR3H7tf4hrt2++QLDvNXbVzX
 I+da1EbzjI/a9KKANLHYtcWhGUou1Q22ZXCsjCR7d1srimIs28K6TQq8ZryRUkaHDx/+Yb+7MOhA
 PPXUU392//33nzx48OCDvV5vkA024gHv5l9BnPSAHtYaRrbJ2D0BORdOXIV8XvCbn6hwx7jkyR+H
 WJURvv5bdzEx5vEf/ss72I7DlsltxIGNBApOSC4/xtS2cSazkOXgCqW8Yfc2lyBMeeeyQWlBzoNM
 KtLstktg4/u+OHLkyMmnnnrqzzbSCcZPPvnkN2dmZv58ZGRE9FtTw4LHgTx2bTfWtgwf3id46B6L
 +UXDj36uOThb5B98YppCscp/fPosJdXko9vHmClrXhAhvZLBsnKkepSDDz3C9u3bSZOYJJP0gOm9
 o6vK0FwZr2hRLHepiDajpREmiiFLjYBQOezbU8FzBRcuh1xbim45+67riqWlJfPkk09+E4g3FEoe
 PXr0L5599tnvfPGLX/zSWrAzgOhLXHO5HL7v43oe2gimRzRf+FiJe/dNMXd0kTeOhezc9zCVux9B
 2UVm971AqXeVXuEAFytTfPYf5/FHtlAZGaVUKvOVr47j5zzareZ1S8yyLLI0JkthducdEDWJlUNO
 +JRzKWAzMVHEtgWW49BqZbeU0CulePbZZ79z9OjRv7ipVPbll1/+nV27dt370EMPPSBWh7FtW/i+
 T6FQoFKp4Pt5EFDNlzD2XVzufQhdXuGTn4GZuz9MrzKDwfCFv/+PyBfy5PJFXM9jl5/Dsd7dee71
 enS73ZsGsVzOg9wkMZAYxehMlZJKiVNwnIxcTuN51k2NF0Lw2muv/erll1/+nffQ4vVvtFqtDnB6
 ZGTk05OTkxWl1IAbOI5DtVrl7rv3sXfPHmbvvJexXR/DH9/HxK4H+NADD7N9eoqC71LwXSqVCo5j
 Y7REy4wkjgYq0M328PqFhu16eF4ebXykKqBUiZxfwPfzG0lkhOM4vP3221eef/75f/Lmm2/O3RKA
 NeHkxatXr17avn37Y5OTk2WttXEcR+RyOfL5PMVikXK5TKVaw127sBCglBy00o15t/HYF0wPH5tp
 YNz4UYdVuryR8cYY47quOHny5MK3v/3tfz43N/cjKaW5LQCklObatWsnzpw5M799+/aPbNmypep5
 nvA8D9u2TZIkIgiC6/S8fUP7W13DkvlhmfzNHqb4dT0y089Sx44du/Stb33rX544ceJ7Gxl/QwCG
 1OPHjx079prneVO1Wm3b6Oio57qu6IujhyXvw88GDD9FcjOhxa/ZeCzLEpZlsbCwEL700ks//qM/
 +qPfnp+ff+6mpfGtThyG4Xyj0fjppUuXVrTW41u2bJkulUr9WR9kib8uQzciN4BwXZcgCPjZz352
 5Jlnnvn9X/3qV787Pz9/8gM/NTY89uzZc7BcLn/+0KFDnztw4MCBarXqWJYl1reRbneX6X0Y+x6X
 11qbdrst5+bm5l544YXngiD4/pkzZ45sJpJseoyNjR0ol8sHHn300Y/deeedj0xPT08VCoViLpcr
 uK4rPM/bqJLczMOV79Es9oVNWZaZJEl6vV4vvHr16uKpU6d+fvjw4VeDIJir1+tz7yeUvu9RLBZH
 pZSj99xzz4dmZ2c/VKvV9vm+PzE6OjpaqVRqxWKxmM/ni0IIUS6Xi7er5FRKEQRBaIwxURSFYRiG
 nU6n1Wg0GnEcL7darZMXL148evz48aOO4zTCMGx8kFzygcf09LSltbaVUnaxWPSr1eo23/e32bY9
 YlnW2FpkvuN2n+s1xljGmHNrLl5XSjXjOL7SbrevhGEY27atLMtSV69e1fz/8cHG/wGo5XIFiHys
 WgAAAABJRU5ErkJggg==
